body {
    background-color: rgb(255, 194, 235);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}    
#input {
    background-color: rgba(142, 127, 161, 0.3);
    border-radius: 20px;
    border: 3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
}
#input:focus {
    background-color: #fff;
}
#when-where {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#city {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}
#date {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
#now {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#temperature {
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 5px 10px black;
    margin: 0;
}
#feelsLike {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
#conditions {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}
#variation {
    color: #000;
    font-size: 26px;
    font-weight: bold;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('weather.jpg');
  background-size:cover;
        -webkit-animation: slidein 60s;
        animation: slidein 60s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}